<div class="dashboard-container">
  <header class="dashboard-header">
    <h1 class="dashboard-title">Mes Présentations</h1>
    <button class="create-button" (click)="navigateToCreate()">
      + Créer une présentation
    </button>
  </header>

  <div *ngIf="presentations.length > 0" class="presentations-grid">
    <!-- Boucle sur chaque présentation -->
    <div *ngFor="let pres of presentations" class="presentation-card">
      <!-- Image de la carte -->
      <div class="card-image-container">
        <!-- Vous pouvez utiliser une image par défaut ou une miniature de la présentation -->
        <img src="https://via.placeholder.com/400x250.png/2563eb/ffffff?text=GeniusDeck" alt="Image de la présentation">
      </div>

      <!-- Contenu de la carte -->
      <div class="card-content">
        <h3 class="card-title">{{ pres.title }}</h3>
        <p class="card-date">Modifié le: {{ (pres.updatedAt || pres.createdAt ) | date: 'dd/MM/yyyy' }}</p>
        
        <!-- Actions principales -->
        <div class="card-actions">
          <button class="action-button-main" (click)="navigateToEdit(pres.id!)">
            Ouvrir l'éditeur
          </button>
          <!-- Menu pour les autres actions -->
          <div class="action-menu">
            <button class="menu-toggle-button">...</button>
            <div class="menu-dropdown">
              <a (click)="deletePresentation(pres.id!)">Supprimer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>
