  <nav *ngIf="!isHomePage() && !isLoginPage()" class="sidebar bg-dark text-white">
    <div class="sidebar-header p-3">
      <h3>GeniusDeck</h3>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
        <a class="nav-link text-white" routerLink="/AdminDashboard" routerLinkActive="active">AdminDashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/templates" routerLinkActive="active">Templates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/presentations" routerLinkActive="active">Presentations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/slides" routerLinkActive="active">Slides</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/generation-history" routerLinkActive="active">GenerationHistory</a>
      </li>
      


      <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link text-white" routerLink="/templates/create" routerLinkActive="active">Créer Template</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a class="nav-link text-white" routerLink="/mod" routerLinkActive="active">Moderator Board</a>
      </li>
      

      <ng-container *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="register" routerLinkActive="active">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="login" routerLinkActive="active">Login</a>
        </li>
      </ng-container>

      <ng-container *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="profile" routerLinkActive="active">{{ username }}</a>
        </li>
        <li class="nav-item">
<a href="#" class="nav-link text-white" (click)="logout(); $event.preventDefault()">LogOut</a>
        </li>
      </ng-container>
    </ul>
  </nav>